.headmain{
	color: #36731A;
	text-align: center;
	font-size: 30;
	font-family: Verdana;
}

#mainback {
	background-image: url("main.jpg");
    background-size: 100%;
  }

.strokeme{
    font-size: 20px;
    font: Tahoma;
    color: black;
    /*text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  */
}
.OutlineText {
	font: Tahoma, Geneva, sans-serif;
	font-size: 50px;
    color: rgb(243, 121, 213);
    text-shadow:
    /* Outline 1 */
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000,  
    -2px 0 0 #000000,
    2px 0 0 #000000,
    0 2px 0 #000000,
    0 -2px 0 #000000, 
    /* Outline 2 */
    -2px -2px 0 #1a1b19,
    2px -2px 0 #8cff00,
    -2px 2px 0  #1a1b19,
    2px 2px 0 #8cff00,  
    -3px 0 0 #8cff00,
    3px 0 0 #8cff00,
    0 3px 0 #8cff00,
    0 -3px 0 #8cff00; /* Terminate with a semi-colon */
}


/*select{color:#0330d4; font-size: 20px;width:300px;border: width 2px;} список значений*/


/*Область выбора фотографий*/
.selectfoto{
    text-align: center;
    background-color: #F2EDD0;
    
    
    border-radius: 20px;
/*    margin: 20px;*/
    
/*    width: 2000px;*/
/*    height: 400px;*/
    border:2px solid rgb(16, 15, 15);    
    font-weight: bold;
    font-size:24px;

    box-shadow: 5px 5px 5px gray;
    
    list-style-type: none;
    position:relative; 

    padding: 20px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;  /*по горизонтали*/
    place-items: center; /*по вертикали*/

}

/*классы левого главного меню выбора фотографий*/
.selectfoto_item{

    border:2px solid rgb(16, 15, 15);   
    border-radius: 20px;
    /*box-sizing: border-box;*/
    
    width: 300px;
    height: 40px;
    background-color: #D9CA82;
    
    box-shadow: inherit;
    cursor: pointer;
    padding-top: 12px;

    
    /*list-style-type: none;
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    margin: 10;*/
    /*gap: 20px;*/
    
}

/*классы выпадающих подменю выбора фотографий*/
/*.selectfoto_item
{
    border:3px solid rgb(16, 15, 15);   
    border-radius: 10px;

    width: 200px;
    height: 50px;
    background-color: beige;
    margin:20px 70px 20px;
    
    padding-top: 20px;
    box-shadow: inherit;
    

    visibility:visible;
    display:inline-block;
}
*/

 
 
.selectfoto_mainmenu:hover
{
         background-color:aquamarine;
}
     

.sf_mm2:hover ~.sf_i2_1 {display:block}
.sf_mm2:hover ~.sf_i2_2 {display:block}
.sf_mm2:hover ~.sf_i2_3 {display:block}

.sf_mm3:hover ~.sf_i3_1 {display:block}

/*
.selectfoto:active ~.selectfoto_item
{
    display:block;
    background-color:aquamarine;
}
*/





